-@ val flash: Map[String, String]
-@ val _session_rememberMe: Boolean = false
-@ val rememberMe: Boolean = flash.get("rememberMe").map(_ == "T") getOrElse _session_rememberMe
-@ val error: Boolean = flash.get("error").exists(_ == "T")
-@ val success: Boolean = flash.get("success").exists(_ == "T")
-@ val Msg: String = flash.get("Msg") getOrElse ""
-@ val agent: String
!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='')
    meta(name='author' content='Amadou Cisse')
    link(rel='shortcut icon' href='/assets/ico/favicon.png')
    title Schola - Sign In
    link(href={uri("/assets/css/bootstrap.css")} rel='stylesheet')
    link(href={uri("/assets/css/signin.css")} rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') Schola
    #msgs.container      
    .container
      form.form-signin(role='form' method='POST')
        fieldset
          .page-header
            h2
              | Sign in                                            
          input.form-control(name='username' type='email' placeholder='Email address' required autofocus)
          input.form-control(name='password' type='password' placeholder='Password' required)
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
          label.checkbox
            - if(rememberMe)
              input(name='remember_me' type='checkbox' value='remember-me' checked)
            - else
              input(name='remember_me' type='checkbox' value='remember-me')
            | Stay signed in       
          span.forgot_passwd
            a(href='/LostPasswd') Forgot password
    footer
      p © Amadou CISSE 2014.          
    script(src={uri("/assets/javascripts/jquery.min.js")})
    script(src={uri("/assets/javascripts/jquery.cookie.js")} type='text/javascript' charset='utf-8')
    :&javascript

      jQuery(function($){

        $(document.body).addClass("#{agent}");

        $('#msgs').on('click', '.close', function(){ $(this).parent('.alert').fadeOut(); return false; });

        setTimeout(function(){
          $.removeCookie('#{schola.oadmin.libs.Flash.COOKIE_NAME}', { path: '/' });
          });

        if(#{error})
          ERROR("#{Msg}" || "Invalid username or password.", 'Error!');

        if(#{success} && !!"#{Msg}")
          INFO("#{Msg}", 'Success!');          

        function ShowMsg(msg, title, className) {
          var htm = '';
          if(title) htm = "<strong>" + title + "</strong> &nbsp;" + msg;
          else htm = msg;

            try { 
              $('#msg').fadeOut();
              window.__msgs && clearTimeout(window.__msgs);
            } catch(e) {}

          $('#msgs').html(

            ['<div id=msg class="alert fade ' + className + ' alert-dismissable">',
              '<button type=button class=close data-dismiss=alert aria-hidden=true>&times;</button>',
              htm,
              '</div>'].join('')
              
            );

          $('#msg').fadeIn();
          
          window.__msgs = setTimeout(function(){ $('#msg').fadeOut(); }, 10000);
        }

        function ERROR(msg, title) {
          ShowMsg(msg, title, 'alert-danger')
        }

        function INFO(msg, title) {
          ShowMsg(msg, title, 'alert-success')
        }         
      })
