-@ val flash: Map[String, String]
-@ val error: Boolean = flash.get("error").exists(_ == "T")
-@ val Msg: String = flash.get("Msg") getOrElse ""
-@ val publicKey: String
!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='')
    meta(name='author' content='Amadou Cisse')
    link(rel='shortcut icon' href='/assets/ico/favicon.png')
    title Schola - Lost password
    link(href={uri("/assets/css/bootstrap.css")} rel='stylesheet')
    link(href={uri("/assets/css/lostpasswd.css")} rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
        .navbar-header
          a.navbar-brand(href='/') Schola
    .container
      .page-header
        h3
          | Reset your password                                  
    .container
      form.form-lostpasswd(role='form' method='POST')
        fieldset
          .bs-callout.bs-callout-info
            p
              | Instructions will sent to your email on how to reset your password.
          input.form-control(name='username' type='text' placeholder='Enter email address' required autofocus)
          #recaptcha
          button.btn.btn-primary(type='submit') Submit
          a.btn.btn-default(href='/') Cancel
    #footer
      .container
        p.text-muted © Amadou CISSE 2014.          
    script(src={uri("http://www.google.com/recaptcha/api/js/recaptcha_ajax.js")} charset='utf-8')
    script(src={uri("/assets/javascripts/jquery.min.js")} type='text/javascript' charset='utf-8')
    script(src={uri("/assets/javascripts/jquery.cookie.js")} type='text/javascript' charset='utf-8')
    :&javascript

      Recaptcha.focus_response_field = function(){};

      function showRecaptcha(element) {
        Recaptcha.create("#{publicKey}", element, {
          theme: "white",
          callback: Recaptcha.focus_response_field
        })
      }

      jQuery(function($){
        setTimeout(function(){showRecaptcha('recaptcha')}, 0);

        setTimeout(function(){
          $.removeCookie('#{schola.oadmin.libs.Flash.COOKIE_NAME}', { path: '/' });
          });

        $(document.body).on('click', '.close', function(){ $(this).parent('.alert').fadeOut(); return false; });

        if(#{error}) {
          if(!!"#{Msg}") ERROR("#{Msg}", 'Error!');
          else ERROR("Invalid email.", 'Error!')
        }

        function ShowMsg(msg, title, className) {
          var htm = '';
          if(title) htm = "<strong>" + title + "</strong> &nbsp;" + msg;
          else htm = msg;

            try { 
              $('#msg').fadeOut();
              window.__msgs && clearTimeout(window.__msgs);
            } catch(e) {}

          $(
            ['<div id=msg class="alert fade ' + className + ' alert-dismissable">',
              '<button type=button class=close data-dismiss=alert aria-hidden=true>&times;</button>',
              htm,
              '</div>'].join('')).prependTo(document.body);

          $('#msg').fadeIn();
          
          window.__msgs = setTimeout(function(){ $('#msg').fadeOut(); }, 10000);
        }

        function ERROR(msg, title) {
          ShowMsg(msg, title, 'alert-danger')
        }

        function INFO(msg, title) {
          ShowMsg(msg, title, 'alert-success')
        }          
      })